#kd-preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 12314243;
    background: black;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #ff8250;
}

.single-category-loader{
    height: 200px;
    background: black;
    color: #ff8250;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
